{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    
    
    <form method = "POST">
        <h3 align = "center">Create Account</h3>
        <div class = "form-group">
            <!-- name is what is passed into the backend and placeholder is what is displayed-->
            <label for = "account_name">Account Name</label>
            <input
                type = "text"
                class = "form-control"
                id = "account_name" 
                name = "account_name" 
                placeholder = "Create Account"
            />
        </div>
        

        
        <br />
        <button type = "submit" class = "btn btn primary">Submit</button>

{% endblock %}   